<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>Simple web</display-name>

<!--<welcome-file-list>
		<welcome-file>/home</welcome-file>
	</welcome-file-list> -->

	<servlet>
		<servlet-name>WebBrand</servlet-name>
		<servlet-class>by.practic.ui.web.WebBrand</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>WebBrand</servlet-name>
		<url-pattern>/servlet/brands</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>WebModel</servlet-name>
		<servlet-class>by.practic.ui.web.WebModel</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>WebModel</servlet-name>
		<url-pattern>/servlet/models</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>WebCar</servlet-name>
		<servlet-class>by.practic.ui.web.WebCar</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>WebCar</servlet-name>
		<url-pattern>/servlet/cars</url-pattern>
	</servlet-mapping>
	
</web-app>